@use 'variables' as v;


@mixin telefono{
    @media(min-width:v.$telefono){
        @content;//Sirve para que todo lo que pase lo reemplze
    }
}
@mixin tablet{
    @media(min-width:v.$tablet){
        @content;//Sirve para que todo lo que pase lo reemplze
    }
}
@mixin desktop{
    @media(min-width:v.$desktop){
        @content;//Sirve para que todo lo que pase lo reemplze
    }
}
@mixin desktop{
    @media(min-width:v.$desktopXL){
        @content;//Sirve para que todo lo que pase lo reemplze
    }
}
//Crear un grid con columnas y espaciado al gusto
@mixin grid($columnas,$espaciado){
    display: grid;
    grid-template-columns: repeat($columnas, 1fr);
    gap: $espaciado;
}

@mixin resetear-lista{
    margin: 0;
    padding: 0;
    list-style: none;
}